1.Python Output

In [1]:
print("Welcome to Bikkad IT")

Welcome to Bikkad IT

In [2]:
print(Welcome to Bikkad IT)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1375877882.py, line 1)

In [3]:
print("Welcome to data Science")

Welcome to data Science

In [4]:
Print("Welcome to Nashik")

NameError: name 'Print' is not defined

In [5]:
print("Welcome to python")

Welcome to python

In [6]:
print(100)

100

In [7]:
print(3.14)

3.14

In [8]:
print("Name","Rahul","Age",25)

Name Rahul Age 25

In [9]:
print(10,20,30,40)

10 20 30 40

In [10]:
print("Akshay","Vijay","Sandip",sep=",")

Akshay,Vijay,Sandip

In [11]:
print("Akshay","Vijay","Sandip")

Akshay Vijay Sandip

In [13]:
print("Apple",end=" ")
print("Banana")

Apple Banana

In [14]:
print("Vijay")
print()
print("Sanjay")

Vijay

Sanjay

# 2. Python Data Types

In [ ]:
# integer - Whole Number - Example 10, -5, 0
# Float   - Decimal Number - Example 3.14,-2.5,0.0
# String  - Text           - Example "Hello",'python'
# Boolean - True or False  - Example True, False

In [1]:
# Integer - int

a = 10
b = -5
c = 0

In [2]:
print(a)

10

In [3]:
print(type(a))

<class 'int'>

In [4]:
print(type(b))

<class 'int'>

In [5]:
x = 10.5
y = -3.14
z = 0.0

In [6]:
print(x, type(x))
print(y, type(y))
print(z, type(z))

10.5 <class 'float'>
-3.14 <class 'float'>
0.0 <class 'float'>

In [7]:
name = "Python"
Greeting = 'Hello'

In [8]:
print(name, type(name))
print(Greeting, type(Greeting))

Python <class 'str'>
Hello <class 'str'>

In [9]:
 Flag_True =True
Flag_False = False

In [10]:
print(Flag_True, type(Flag_True))
print(Flag_False, type(Flag_False))

True <class 'bool'>
False <class 'bool'>

# 3.Variables

In [12]:
# Valid Variable
name = "Rahul"
_age = 25
Student1 = "Priya"
total_marks = 450

In [13]:
1student = "Akshay"

SyntaxError: invalid decimal literal (1078043656.py, line 1)

In [14]:
my-name = "Vijay"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2035343005.py, line 1)

In [15]:
class = abc

SyntaxError: invalid syntax (1409665052.py, line 1)

In [16]:
# Basic Variable

name = "Sneha"
age = 22
height = 5.4
is_Student = True

In [17]:
# Multiple Assignment

x = y = z = 100
print(x,y,z)

100 100 100

In [18]:
# Assign Different Value

a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [19]:
marks = 85
print(marks)

85

In [20]:
marks = 90
print(marks)

90

In [21]:
print(marks)

90

# 4. Comments

# 1.Single line Comment

In [22]:
print("Hello") # this is single line comment

Hello

# 2.Multi Line Comment

In [23]:
''' This is first Line
This is Second Line
This is Third Line 
'''
print("Python")

Python

# 5. Keywords

In [1]:
name = "Akshay"

In [2]:
print(name)

Akshay

In [3]:
import keyword

In [4]:
Keywords = keyword.kwlist

In [5]:
print(Keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [23]:
False = "Akshay"

SyntaxError: cannot assign to False (2622707479.py, line 1)

# 6.User Input

In [7]:
# Example : Basic Input

name = input("Enter your name : ")

Enter your name :  Vijay

In [8]:
print(name)

Vijay

In [9]:
age = input("Enter your age : ")

Enter your age :  25

In [10]:
print(age)

25

In [11]:
print(type(age))

<class 'str'>

In [12]:
age + 5

TypeError: can only concatenate str (not "int") to str

In [13]:
name = input("Enter your Name :")
city = input("Enter your city :")
age = input("Enter your age :")

Enter your Name : AKSHAY
Enter your city : NASHIK
Enter your age : 25

# 7. Type Conversion / Type Casting

## a) implicit Conversion

In [14]:
a = 10
b = 3.5
c = a + b

In [15]:
print(a, type(a))
print(b, type(b))
print(c, type(c))

10 <class 'int'>
3.5 <class 'float'>
13.5 <class 'float'>

## b) Explicit Conversion

In [16]:
# string to Integer

x = "100"
y = int(x)
print(y+50)

150

In [17]:
print(x, type(x))
print(y,type(y))

100 <class 'str'>
100 <class 'int'>

In [18]:
x = "150"
y = 50
print(x+y)

TypeError: can only concatenate str (not "int") to str

In [19]:
# integer to Float

a = 25
b = float(a)
print(b)

25.0

In [20]:
# float to integer
c = 3.05
d = int(c)
print(d)

3

In [21]:
# Number to string
age = 25
age_str = str(age)
print("Age :" + age_str)

Age :25

In [22]:
age = 35
age_str = "35"
print(age + age_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 8. Escape Sequence

In [24]:
text1 = "Hello\nWorld"  # New Line Character

In [25]:
print(text1)

Hello
World

In [26]:
Text2 = "Name:\tRahul"  # Tab
print(Text2)

Name:	Rahul